*.class
*.log

# sbt
project/project
project/target
target/
dist/

# Intelli J
*.iml
*.ipr
*.iws
.idea
out

# Eclipse
build
.classpath
.project
.settings
org.scala-ide.sdt.core/META-INF/MANIFEST.MF
org.scala-ide.sdt.update-site/site.xml`

# Mac
.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# VIM temporary files
*.swp

.cache